<style>

ul {float:left;color:#FFFFFF;}
h1 {float:left;}
p {float:left;color:#FFFFFF;}
body {background-color:#000000}
</style>

<img src ="http://www.pressfire.no/image/screenshots2/1000/1480/1828/ss2.jpg" height="600" width="1000" alt="Image failed to load">



<ul>
	<% Hero.all.each do |hero| %>
		<li><%= hero %> </li>
	<%end %>
</ul>
